<div class="container" xmlns="http://www.w3.org/1999/html">
    <div *ngIf="fetched === false" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div *ngIf="fetched === true">
        <ngb-accordion>
            <ngb-panel *ngFor="let password of passwords" title="{{ password.service }}">
                <ng-template ngbPanelContent>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="serviceText">Service</span>
                        <input type="text" class="form-control" id="service" [(ngModel)]="password.service"
                               [attr.readonly]="password._isEdited ? null : true">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="usernameText">Username</span>
                        <input type="text" class="form-control" id="username" [(ngModel)]="password.username"
                               [attr.readonly]="password._isEdited ? null : true">
                    </div>
                    <div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="passwordSpanHidden">Password</span>
                            <input [attr.type]="password._isShown ? 'text' : 'password'" class="form-control" id="passwordHidden" [(ngModel)]="password.password"
                                   [attr.readonly]="password._isEdited ? null : true">
                            <button *ngIf="!password._isShown" class="btn btn-outline-primary bi bi-eye" (click)="password._isShown = true"></button>
                            <button *ngIf="password._isShown" class="btn btn-outline-primary bi bi-eye-slash-fill" (click)="password._isShown = false"></button>
                            <button class="btn btn-outline-secondary bi bi-clipboard" (click)="onClickClipboard(password.password)"></button>
                        </div>
                        <div class="buttons">
                            <button *ngIf="!password._isEdited" class="btn btn-warning btn-lg"
                                    (click)="password._isEdited = true; password._isShown = true">Edit</button>
                            <button *ngIf="password._isEdited" class="btn btn-success btn-lg" (click)="onClickSave(password)">Save</button>
                            <button class="btn btn-danger btn-lg" (click)="onClickDelete(password)">Delete</button>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <div class="buttons">
            <button class="btn btn-success btn-lg" (click)="onClickAdd(newPasswordModal)">Add new password</button>
        </div>
        <ng-template #newPasswordModal let-modal>
            <div class="modal-header">
                <h4 class="modal-title">New Password</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #newPasswordForm="ngForm">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="newServiceText">Service</span>
                        <input type="text" class="form-control" id="newService" name="newService"
                               required
                               [(ngModel)]="newPassword.service">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="newUsernameText">Username</span>
                        <input type="text" class="form-control" id="newUsername" name="newUsername"
                               required
                               [(ngModel)]="newPassword.username">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="newPasswordSpanHidden">Password</span>
                        <input type="text" class="form-control" id="newPassword" name="newPassword"
                               required
                               [(ngModel)]="newPassword.password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success"
                        [disabled]="!newPasswordForm.form.valid"
                        (click)="modal.close('save')">Save</button>
            </div>
        </ng-template>
    </div>
</div>
