<div class="container" xmlns="http://www.w3.org/1999/html">
    <div *ngIf="fetched === false" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div *ngIf="fetched === true">
        <ngb-accordion>
            <ngb-panel *ngFor="let password of passwords; let counter = index" title="{{ password.service }}">
                <ng-template ngbPanelContent>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="usernameText">Username</span>
                        <input type="text" class="form-control" id="username" value="{{ password.username }}"
                               readonly>
                    </div>

                    <div *ngIf="!password._isShown">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="passwordSpanHidden">Password</span>
                            <input type="password" class="form-control" id="passwordHidden" value="{{ password.password }}"
                                   readonly>
                            <button class="btn btn-outline-primary bi bi-eye" (click)="password._isShown = true"></button>
                            <button class="btn btn-outline-secondary bi bi-clipboard" (click)="onClickClipboard(password.password)"></button>
                        </div>
                    </div>
                    <div *ngIf="password._isShown">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="passwordSpanUnhidden">Password</span>
                            <input type="text" class="form-control" id="passwordTextUnhidden" value="{{ password.password }}"
                                   readonly>
                            <button class="btn btn-outline-primary bi bi-eye-slash-fill" (click)="password._isShown = false"></button>
                            <button class="btn btn-outline-secondary bi bi-clipboard" (click)="onClickClipboard(password.password)"></button>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
<!--    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">-->
<!--        <div id="toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">-->
<!--            <div class="toast-header">-->
<!--                <img src="favicon.ico" class="rounded me-2" alt="...">-->
<!--                <strong class="me-auto">hajty's Password Manager</strong>-->
<!--                <small></small>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="toast-body">-->
<!--                Copied your password to the clipboard!-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
