<div class="container" xmlns="http://www.w3.org/1999/html">
    <app-storage-password></app-storage-password>
    <app-edit-password></app-edit-password>
    <div *ngIf="fetched === false" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="top" [hidden]='!fetched'>
        <app-counter class="counter"></app-counter>
        <button class="btn btn-danger" (click)="onClickLogout()">Logout</button>
    </div>
    <div class="main" *ngIf="fetched === true">
        <ngb-accordion>
            <ngb-panel *ngFor="let password of passwords" title="{{ password.service }}">
                <ng-template ngbPanelContent>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="serviceText">Service</span>
                        <input
                            type="text"
                            class="form-control"
                            id="service"
                            [(ngModel)]="password.service"
                            readonly />
                        <button
                            class="btn btn-outline-secondary bi bi-clipboard"
                            (click)="onClickClipboard(password.service)"></button>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="usernameText">Username</span>
                        <input
                            type="text"
                            class="form-control"
                            id="username"
                            [(ngModel)]="password.username"
                            readonly />
                        <button
                            class="btn btn-outline-secondary bi bi-clipboard"
                            (click)="onClickClipboard(password.username)"></button>
                    </div>
                    <div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="passwordSpanHidden">Password</span>
                            <input
                                [attr.type]="password._isShown ? 'text' : 'password'"
                                class="form-control"
                                id="passwordHidden"
                                [(ngModel)]="password.password"
                                readonly />
                            <button
                                *ngIf="!password._isShown"
                                class="btn btn-outline-primary bi bi-eye"
                                (click)="password._isShown = true"></button>
                            <button
                                *ngIf="password._isShown"
                                class="btn btn-outline-primary bi bi-eye-slash-fill"
                                (click)="password._isShown = false"></button>
                            <button
                                class="btn btn-outline-secondary bi bi-clipboard"
                                (click)="onClickClipboard(password.password)"></button>
                        </div>
                        <div class="buttons">
                            <button class="btn btn-warning btn-lg" (click)="onClickEdit(password)">
                                Edit
                            </button>
                            <button class="btn btn-danger btn-lg" (click)="onClickDelete(password)">
                                Delete
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <div class="buttons">
            <button class="btn btn-success btn-lg" (click)="onClickAdd()">Add new password</button>
        </div>
    </div>
</div>
