<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 *ngIf="modalType === 'add'" class="modal-title">Add Password</h4>
        <h4 *ngIf="modalType === 'edit'" class="modal-title">Edit Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #passwordForm="ngForm">
            <div class="input-group mb-3">
                <span class="input-group-text" id="editServiceLabel">Service</span>
                <input
                    type="text"
                    class="form-control"
                    id="editService"
                    name="editService"
                    required
                    [(ngModel)]="editPassword.service" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="editUsernameLabel">Username</span>
                <input
                    type="text"
                    class="form-control"
                    id="editUsername"
                    name="editUsername"
                    required
                    [(ngModel)]="editPassword.username" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="editPasswordLabel">Password</span>
                <input
                    type="text"
                    class="form-control"
                    id="editPassword"
                    name="editPassword"
                    required
                    [(ngModel)]="editPassword.password" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-success"
            [disabled]="!passwordForm.form.valid"
            (click)="modal.close('save')">
            Save
        </button>
    </div>
</ng-template>
