<ng-template #passwordModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="newUser">Generate new key to the storage</h4>
        <h4 class="modal-title" *ngIf="!newUser">Enter key to the storage</h4>
    </div>
    <div class="modal-body">
        <form #storageForm="ngForm" *ngIf="!newUser">
            <div class="form-group">
                <label for="storagePassword">Select key file</label>
                <input
                    type="file"
                    class="form-control-file"
                    id="storagePassword"
                    name="storagePassword"
                    (change)="onFileSelected($event)"
                    required>
            </div>
        </form>
        <div *ngIf="newUser" class="generate">
            <button type="button"
                    class="btn btn-success"
                    (click)="modal.close('generate')">
                Generate
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="!newUser"
            type="button"
            class="btn btn-success"
            (click)="modal.close('enter')">
            Enter
        </button>
        <button
            type='button'
            class="btn btn-danger"
            (click)="modal.close('logout')">
            Logout
        </button>
    </div>
</ng-template>
