<ng-template #passwordModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Enter password to the storage</h4>
    </div>
    <div class="modal-body">
        <form #storageForm="ngForm">
            <div class="input-group mb-3">
                <span class="input-group-text" id="storagePasswordLabel">Storage password</span>
                <input
                    type="text"
                    class="form-control"
                    id="storagePassword"
                    name="storagePassword"
                    required
                    [(ngModel)]="storagePassword" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-success"
            [disabled]="!storageForm.form.valid"
            (click)="modal.close('enter')">
            Enter
        </button>
        <button
            type='button'
            class="btn btn-danger"
            (click)="modal.close('logout')">
            Logout
        </button>
    </div>
</ng-template>
