form {
  margin-top: 15%;
  margin-left: 25%;
  margin-right:25%;
  width: 50%;
}

.registration-info, .login-info {
  margin-top: 6%;
  margin-left: 25%;
  margin-right:25%;
  width: 50%;
}

.bi-exclamation-circle, .bi-check-circle {
  font-size: 150%;
}

.btn-success {
  float: left;
}

.btn-danger {
  float: right;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

#register-here {
  float: right;
}

#register-back {
  float: left;
}
