<div class="container" xmlns="http://www.w3.org/1999/html">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="login" placeholder="name@example.com"
                       minlength="5"
                       required
                       [(ngModel)]="model.email" name="login"
                       #login="ngModel">
                <label for="login">Login</label>
                <div [hidden]="login.valid || login.pristine"
                     class="alert alert-danger">
                    Login should contain at least 5 characters
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="password"
                       minlength="6"
                       required
                       [(ngModel)]="model.password" name="password"
                       #password="ngModel">
                <label for="password">Password</label>
                <div [hidden]="password.valid || password.pristine"
                     class="alert alert-danger">
                    Password should contain at least 6 characters
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-success btn-lg" [disabled]="!userForm.form.valid">Log in</button>
            <div class="register-here">
                <a class="link-primary" [routerLink]="['/register']">Sign up for an account</a>
            </div>
        </div>
    </form>
</div>
